de.tonypsilon.bmm.integrationtest.adminusername=admin
de.tonypsilon.bmm.integrationtest.adminpassword=secret
de.tonypsilon.bmm.integrationtest.seasonadminusername=seasonadmin
de.tonypsilon.bmm.integrationtest.seasonadminpassword=seasonadminsecret
de.tonypsilon.bmm.integrationtest.clubadminusername=clubadmin
de.tonypsilon.bmm.integrationtest.clubadminpassword=clubadminsecret
de.tonypsilon.bmm.integrationtest.teamadminusername=teamadmin
de.tonypsilon.bmm.integrationtest.teamadminpassword=teamadminpassword