de.tonypsilon.bmm.integrationtest.adminusername=username
de.tonypsilon.bmm.integrationtest.adminpassword=password
de.tonypsilon.bmm.integrationtest.seasonadminusername=username
de.tonypsilon.bmm.integrationtest.seasonadminpassword=password
de.tonypsilon.bmm.integrationtest.clubadminusername=username
de.tonypsilon.bmm.integrationtest.clubadminpassword=password
de.tonypsilon.bmm.integrationtest.teamadminusername=username
de.tonypsilon.bmm.integrationtest.teamadminpassword=password